
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!doctype html>
<html lang="en-US">

<body>
    <div class="noo-spinner">
        <div class="spinner">
            <div class="cube1"></div>
            <div class="cube2"></div>
        </div>
    </div>
    <div class="site">
        <section class="noo-page-heading eff">
            <div class="container">
                <div class="noo-heading-content">
                    <h1 class="page-title eff">Giỏ hàng</h1>
                    <div class="noo-page-breadcrumb eff">
                        <a href="index.html" class="home">Đặc sản 3 miền</a>/<span>Giỏ hàng</span>
                    </div>
                </div>
            </div>
        </section>
        <div class="main">
            <div class="commerce commerce-page commerce-cart noo-shop-main">
                <div class="container">
                    <div class="row">
                        <div class="noo-main col-md-12">
                            <table class="shop_table cart">
                                <thead>
                                    <tr>
                                        <th class="product-thumbnail">Ảnh</th>
                                        <th class="product-price">Giá</th>
                                        <th class="product-quantity">Số lượng</th>
                                        <th class="product-subtotal">Thành tiền</th>
                                        <th class="product-remove">&nbsp;</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="cart_item">
                                        <td class="product-thumbnail">
                                            <a href="@Url.Action("Show", "Product")">
                                                <img width="100" height="100" src="~/Assets/images/product/thumb/product_6.png" alt="" />
                                            </a>
                                            <a href="@Url.Action("Show", "Product")">Apples </a>
                                        </td>
                                        <td class="product-price">
                                            <span class="amount">&#36;3.95</span>
                                        </td>
                                        <td class="product-quantity">
                                            <div class="quantity">
                                                <input type="number" step="1" min="0" name="qty" value="1" class="input-text qty text" size="4" />
                                            </div>
                                        </td>
                                        <td class="product-subtotal">
                                            <span class="amount">&#36;3.95</span>
                                        </td>
                                        <td class="product-remove">
                                            <a href="#" class="remove">&times;</a>
                                        </td>
                                    </tr>
                                    <tr class="cart_item">
                                        <td class="product-thumbnail">
                                            <a href="@Url.Action("Show", "Product")">
                                                <img width="100" height="100" src="~/Assets/images/product/thumb/product_3.png" alt="" />
                                            </a>
                                            <a href="@Url.Action("Show", "Product")">Brown Bread </a>
                                        </td>
                                        <td class="product-price">
                                            <span class="amount">&#36;1.05</span>
                                        </td>
                                        <td class="product-quantity">
                                            <div class="quantity">
                                                <input type="number" step="1" min="0" name="qty" value="2" class="input-text qty text" size="4" />
                                            </div>
                                        </td>
                                        <td class="product-subtotal">
                                            <span class="amount">&#36;1.05</span>
                                        </td>
                                        <td class="product-remove">
                                            <a href="#" class="remove">&times;</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="5" class="actions">
                                            @*<a class="continue" href="shop.html">continue shopping</a>*@
                                            <div class="coupon">
                                                <label for="coupon_code">Coupon:</label>
                                                <input type="text" name="coupon_code" class="input-text" id="coupon_code" value="" placeholder="Coupon code" />
                                                <input type="submit" class="button" name="apply_coupon" value="Apply Coupon" />
                                            </div>
                                            <input type="submit" class="button" name="update_cart" value="Cập nhật" />
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="cart-collaterals">
                                <div class="noocart-coupon">
                                    <label for="coupon_code">Phiếu mua hàng</label>
                                    <p>Nhập mã phiếu nếu bạn có</p>
                                    <input type="text" name="noo_coupon_code" class="input-text" id="noo_coupon_code" value="" placeholder="Mã phiếu" />
                                    <button class="noo-apply-coupon button">Xác nhận</button>
                                </div>
                                <div class="col-md-3 cart_totals">
                                    <h2>Tổng giỏ hàng</h2>
                                    <table>
                                        <tr class="cart-subtotal">
                                            <th>Tổng số lượng</th>
                                            <td><span class="amount">6</span></td>
                                        </tr>
                                        @*<tr class="shipping">
                                            <th>Shipping</th>
                                            <td>
                                                <p>Shipping costs will be calculated once you have provided your address.</p>
                                            </td>
                                        </tr>*@
                                        <tr class="order-total">
                                            <th>Tổng tiền</th>
                                            <td><strong><span class="amount">&#36;6.05</span></strong> </td>
                                        </tr>
                                    </table>
                                    <div class="wc-proceed-to-checkout">
                                        <a href="#" class="checkout-button button alt wc-forward">
                                            Thanh toán
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>